<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>조건부 렌더링</title>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <!-- v-if -->
    <div id="app">
        <h1 v-if="ok">Yes</h1>
        <h1 v-else>No</h1>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                ok: true
            }
        });
    </script>
    <br><hr><br>

    <!-- <template>에 v-if를 갖는 조건부 그룹 만들기 -->
    <div id="app2">
        <template v-if="ok">
            <h1>Title</h1>
            <p>Paragraph</p>
            <p>Title</p>
        </template>
    </div>
    <script>
        var app2 = new Vue({
            el: '#app2',
            data: {
                ok: true
            }
        });
    </script>
    <br><hr><br>

    <!-- v-else -->
    <div id="app3">
        <div v-if="Math.random() > 0.5">
            이제 나를 볼 수 있어요
        </div>
        <div v-else>
            이제는 안보입니다.
        </div>
    </div>
    <script>
        var app3 = new Vue({
            el: '#app3'
        });
    </script>
    <br><hr><br>

    <!-- v-else-if -->
    <!-- 2.1.0부터 추가 -->
    <div id="app4">
        <div v-if="type === 'A'">
            A
        </div>
        <div v-else-if="type === 'B'">
            B
        </div>
        <div v-else-if="type === 'C'">
            C
        </div>
        <div v-else>
            Not A, B, C
        </div>
    </div>
    <script>
        var app4 = new Vue({
            el: '#app4',
            data: {
                type: 'B'
            }
        });
    </script>
    <br><hr><br>

    <!-- key 를 이용한 재사용 가능한 엘리먼트 제어 -->
    <div id="app5">
        <template v-if="loginType === 'username'">
            <label>사용자 이름</label>
            <input placeholder="사용자 이름을 입력하세요">
        </template>
        <template v-else>
            <label>이메일</label>
            <input placeholder="이메일 주소를 입력하세요">
        </template>
    </div>
    <div id="app6">
        <template v-if="loginType === 'username'">
            <label>사용자 이름</label>
            <input placeholder="사용자 이름을 입력하세요" key="username-input">
        </template>
        <template v-else>
            <label>이메일</label>
            <input placeholder="이메일 주소를 입력하세요" key="email-input">
        </template>
    </div>
    <script>
        /*
         * loginType을 바꾸어도 사용자가 이미 입력한 내용은 지워지지 않는다.
         * 두 템플릿 모두 같은 요소를 사용하므로 <input>은 대체되지 않고 단지 placeholder만 변경된다.
         */
        var app5 = new Vue({
            el: '#app5',
            data: {
                loginType: 'username'
            }
        });
        /*
         * 두 엘리먼트가 별개이므로 재사용하지 않게 하려면 key 속성을 추가한다.
         * loginType이 변경되면 <input>은 다시 렌더링된다.
         */
        var app6 = new Vue({
            el: '#app6',
            data: {
                loginType: 'username'
            }
        });
    </script>
    <br><hr><br>

    <!-- v-show -->
    <div id="app7">
        <h1 v-show="ok">안녕하세요!</h1>
    </div>
    <script>
        /*
         * v-show는 단순히 엘리먼트에 display CSS 속성을 토글한다.
         * <template> 구문을 지원하지 않으며 v-else와도 작동하지 않는다.
         */
        var app7 = new Vue({
            el: '#app7',
            data: {
                ok: true
            }
        });
    </script>
    <br><hr><br>

    <!-- v-if vs v-show -->
    <!--
        v-if는 조건부 블럭 안의 이벤트 리스너와 자식 컴포넌트가 토글하는 동안 적절하게 제거되고 다시 만들어진다.
        v-if는 게으르다. 초기 렌더링에서 조건이 거짓인 경우 아무것도 하지 않는다.
        v-show는 CSS 기반 토글만으로 초기 조건에 관계 없이 엘리먼트가 항상 렌더링된다.
        일반적으로 v-if는 토글 비용이 높고, v-show는 초기 렌더링 비용이 높다.
    -->

    <!-- v-if vs v-for -->
    <!--
        v-if와 v-for을 함께 사용하는 경우, v-for는 v-if보다 우선순위가 높다.
    -->
</body>
</html>